.sectionContainer {
  width: 100vw;
  height: 100vh;
  position: relative;
  margin: 0 auto;
  padding: 70px 180px;
  text-align: left;
  background-image: url("../../assets/background.svg"),
    linear-gradient(rgba(18, 20, 23, 0.1), rgba(18, 20, 23, 0.2));
  background-size: cover;
}
.mainTitle {
  font-size: 72px;
  font-weight: 700;
  line-height: calc(96 / 72);
  text-shadow: 5px 5px rgba(52, 112, 255, 0.3);
}
.about {
  position: absolute;
  right: 150px;
  top: 280px;
  width: 400px;
}
.aboutTitle {
  text-align: center;
  text-shadow: 5px 5px rgba(52, 112, 255, 0.3);
  margin-bottom: 12px;
}
.aboutText {
  font-size: 18px;
  line-height: calc(24 / 18);
  font-weight: 500;
  text-indent: 24px;
}
